<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      原创文章，版权声明：署名-非商业性使用-相同方式共享 2.5
      <br/>
      Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>，Photos in 新浪微博，Write in markdown.
    </div>
  </div>
</footer>
